/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap");

/* Animations */
@keyframes bg-move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -180px -180px;
  }
}

@keyframes bracket-r {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(8.5%);
  }
}
@keyframes bracket-l {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-8.5%);
  }
}

@keyframes baguette-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes levitate {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-20%);
  }
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
